/* common CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* utility CSS */
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.container {
    width: 80%;
    margin: auto;
}

/*******************
* Header CSS *
*******************/
Header {
    background-color: darkblue;
    height: 1000px;
    width: 800px;
}




/*******************
* main CSS *
*******************/




/*******************
* footer CSS *
*******************/