/* common CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}


/* utility CSS */
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.container {
    width: 80%;
    margin: auto;
}



/*******************
* Header CSS *
*******************/
Header {
    background-color: #0C325A;
    font-family: 'Roboto', sans-serif;
    text-align: right;
    font-size: 15px;
    background-image: url('../img/background-header.png');
    height: 720px;
    background-repeat: no-repeat;
    background-size: 1100px;
    background-position: 115% 110%;
}
.left_menu > ul > li {
    list-style: none;
    display: inline-block;
    padding: 0 5px;
    
}
.container.clearfix a {
    text-decoration: none;
    color: white;
    font-size: 13px;
}
.left_menu, .container > img, .right_menu {
    float: left;
    text-transform: uppercase;
}
Header > nav {
    height: 80px;
    padding-top: 10px;
}
.logo {
    width: 15%;
    line-height: 80px;
    vertical-align: center;
}
.left_menu {
    width: 45%;
    line-height: 80px;
    vertical-align: center;
}
.right_menu {
    width: 40%;
    line-height: 80px;
    vertical-align: center;
}
.btn {
    padding: 10px 20px;
    margin-left: 15px;
    border-radius: 5px;
}
.btn_outline {
    border: 2px solid white;
}
.btn_fullline {
    background-color: #7CBB02;
}
.info_top {
    position: absolute;
    left: 200px;
    top: 350px;
    height: 300px;
    width: 45%;
}
.info_top {
    color: white;
    text-align: left;
}
.info_top > h1 {
    font-size: 55px;
    margin-bottom: 40px;
}
.info_top > a {
    padding: 20px 40px;
    border-radius: 10px;
    text-transform: uppercase;
}


/*******************
* main CSS *
*******************/
.intro {
    text-align: center;
    padding: 40px;
    background-color: #b8b8b8;
}
.intro h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}
.intro p {
    color: grey;
    font-size: 1.2rem;
}

/* 3 colonne */
.colonna {
    height: 600px;
    width: 30%;
    margin: 1%;
    text-align: center;
}
.sx, .ctr, .dx {
    float: left;
}
.banner {
    padding: 20px;
}
.banner .colonna img {
    width: 90%;
    height: 200px;
}
.scritta_verde {
    padding-top: 30px;
    color: #7CBB02;
    font-size: 25px;
}
.scritta_verde::after {
    content: '';
    background-color: #b8b8b8;
    height: 2px;
    width: 100px;
    display: block;
    margin: 30px auto;
}
.colonna p {
    color: grey;
    font-size: 1.1rem; 
    line-height: 1.5rem;
}


.info {
    float:left;
    height: 300px;
    width: 50%;
    margin-top: 20px;
}
.info > img {
    width: 90%;
    padding: 30px;
    margin: 0 20px;
}
.piano_personalizzato {
    height: 400px;
}
.info > h3 {
    font-size: 40px;
    padding-top: 30px;
}
.info > p {
    color: grey;
    font-size: 1.1rem; 
    line-height: 1.5rem;
    padding: 10px 0 20px;
}
.info > a {
    
}
/*******************
* footer CSS *
*******************/